@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.attribution {
    font-size: 1em;
    text-align: center;
    background: hsl(192, 100%, 9%);
    color: white;
    padding: 2em;
}
.attribution a {
    color: hsl(322, 100%, 66%);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding: 1em;
}

body > h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4em;
}

header .left img {
    width: 7em;
}

header .right button {
    padding: 0.3em 1.8em;
    border-radius: 30px;
    color: hsl(322, 100%, 66%);
    background: white;
    border: 1px solid hsl(322, 100%, 66%);
    font-size: 0.8em;
    transition: all 0.3s linear;
}

header .right button:hover {
    border: 1px solid hsl(321, 100%, 78%);
    color: hsl(321, 100%, 78%);
}

main {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.vh1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin-left: 2em;
    margin-right: 2em;
}

.vh1 h1 {
    font-size: 2.1em;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: hsl(192, 100%, 9%);
}

main > div > p {
    color: hsla(192, 100%, 9%, 0.9);
    font-weight: 700;
    font-size: 1.1em;
}

main > div > div > p {
    color: hsla(192, 100%, 9%, 0.9);
    font-weight: 700;
    font-size: 1em;
}

main > div > div > div > p {
    color: hsla(192, 100%, 9%, 0.9);
    font-weight: 700;
    font-size: 1em;
}

.vh1 button {
    width: 65%;
    font-size: 0.9em;
    height: 3.5em;
    border-radius: 30px;
    border: transparent;
    background: hsl(322, 100%, 66%);
    color: white;
    margin-top: 2em;
    transition: background 0.3s linear;
}

.vh1 button:hover {
    background: hsl(321, 100%, 78%);
}

.img {
    margin-left: 2em;
    margin-right: 2em;
}

img {
    max-width: 70%;
}

.stats {
    margin-left: 2em;
    margin-right: 2em;
}

.stats > div {
    position: relative;
    padding: 3.5em 5em;
}

.stats > div > h2 {
    font-size: 2.9em;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.stats > div > p {
    font-size: 0.9em;
    padding: 0em 0.5em;
    opacity: 0.5;
    font-weight: 700;
}

.stats > div > img {
    width: 30px;
}

.background-1 {
    width: 100%;
    height: 120px;
    background-image: url(images/bg-section-top-mobile-1.svg);
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: 100%;
    margin-bottom: -1em
}

.background-2 {
    width: 100%;
    height: 120px;
    background-image: url(images/bg-section-bottom-mobile-1.svg);
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: 100%;
}

.ill-1 {
    padding-top: 8em;
    padding-bottom: 3em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: hsl(207, 100%, 98%);
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.illustrations > div > div > h2 {
    font-weight: 700;
    font-size: 1.5em;
    padding-top: 2.5em;
    padding-bottom: 0.7em;
}

.illustrations > div > div > p {
    margin-left: 2em;
    margin-right: 2em;
}

.ill-2 {
    padding-top: 8em;
    padding-bottom: 3em;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.ill-3 {
    padding-bottom: 8em;
    padding-top: 3em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: hsl(207, 100%, 98%);
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.background-3 {
    width: 100%;
    height: 120px;
    background-image: url(images/bg-section-top-mobile-2.svg);
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: 100%;
    margin-bottom: -1.8em;
}

.background-4 {
    width: 100%;
    height: 120px;
    background-image: url(images/bg-section-bottom-mobile-2.svg);
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: 100%;
}

.build-com {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    padding-top: 4em;
    padding-bottom: 10em;
    margin-left: 2em;
    margin-right: 2em;
}

.build-com h3{
    font-size: 1.8em;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.build-com button {
    width: 65%;
    height: 4em;
    border-radius: 30px;
    border: transparent;
    color: white;
    background: hsl(322, 100%, 66%);
    font-size: 0.8em;
    font-weight: 600;
    transition: background 0.3s linear;
}

.build-com button:hover {
    background: hsl(321, 100%, 78%);
}

.background-5 {
    width: 100%;
    height: 140px;
    background-image: url(images/bg-footer-top-mobile.svg);
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: 100%;
    margin-bottom: -8em;
}

.main-footer, .newsletter {
    background: hsl(192, 100%, 9%);
}

.newsletter {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    text-align: left;
    padding-top: 4em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-bottom: 5em;
}

.newsletter h3 {
    color: white;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 1.7em;
}

.newsletter p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.05em;
}

.newsletter > div > input {
    width: 100%;
    height: 2.6em;
    border-radius: 7px;
    outline: transparent;
    border: transparent;
}

.newsletter > div {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.newsletter > div > input:focus-visible {
    border: 1px solid hsl(0, 100%, 63%);
}

.newsletter > div > button {
    align-self: flex-end;
    width: 55%;
    height: 3em;
    background: hsl(322, 100%, 66%);
    border: transparent;
    color: white;
    border-radius: 7px;
    margin-top: -10px;
    transition: background 0.3s linear;
}

.newsletter > div > button:hover {
    background: hsl(321, 100%, 78%);
}

.main-footer {
    padding-left: 2em;
    padding-right: 2em;
    text-align: left;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h3 {
    color: white;
    font-size: 3.5em;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.logo img {
    width: 40px;
}

.main-footer p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.05em;
    padding-bottom: 3em;
}

.contact-info > div {
    display: flex;
    gap: 1em;
}

.contact-info > div > img {
    width: 25px;
    height: 23px;
    display: inline-block;
    vertical-align: middle;
}

.contact-info > div > p {
    font-size: 1em;
}

.media {
    display: flex;
    gap: 1em;
    padding-bottom: 2em;
}

.media > a > svg {
    height: 2.2em;
    width: 2.2em;
}

.icon {
    fill: rgb(255, 255, 255);
}

.icon:hover {
    fill: hsl(210, 73%, 75%);
}

@media (min-width: 1000px) {

    body {
        max-width: 100%;
    }

    header .left img {
        width: 13em;
    }

    header .right button {
        padding: 0.5em 3em;
        font-size: 1em;
    }

    main {
        padding: 3em 0em;
    }

    .vh1 {
        margin-left: 6em;
        margin-right: 6em;
    }

    .vh1 h1 {
        font-size: 3.3em;
    }

    .vh1 p {
        font-size: 1.7em;
        padding: 0em 5em;
    }

    .vh1 button {
        width: 33%;
        height: 3.4em;
        font-size: 1.2em;
        margin-bottom: 5em;
    }

    .img {
        margin-left: 6em;
        margin-right: 6em;
    }

    .img img {
        width: 100%;
    }

    .stats {
        display: flex;
        justify-content: space-evenly;
        padding: 0em 0em;
        margin-left: 6em;
        margin-right: 6em;
    }

    .stats > div > h2 {
        font-size: 4em;
    }

    .stats > div > p {
        font-size: 1em;
    }

    .background-1 {
        height: 100px;
        background-image: url(images/bg-section-top-desktop-1.svg);
        background-repeat: no-repeat;
        background-position: 0% 0%;
        background-size: 100%;
        margin-top: 4em;
    }
    
    .background-2 {
        width: 100%;
        height: 100px;
        background-image: url(images/bg-section-bottom-desktop-1.svg);
        background-repeat: no-repeat;
        background-position: 0% 0%;
        background-size: 100%;
        margin-bottom: 4em;
    }

    .ill-1 {
        display: grid;
        grid-template-columns: 50% 50%;
        text-align: left;
    }

    .ill-1 img {
        width: contain;
        grid-area: 1/2;
    }

    .illustrations > div > div {
        padding: 0em 3em;
    }

    .illustrations > div > div > h2 {
        font-size: 3em;
    }

    .illustrations > div > div > p {
        font-size: 1.1em;
    }

    .ill-2 {
        display: grid;
        grid-template-columns: 50% 50%;
        text-align: left;
    }

    .ill-2 img {
        width: contain;
    }

    .ill-3 {
        display: grid;
        grid-template-columns: 50% 50%;
        text-align: left;
    }

    .ill-3 img {
        width: contain;
        grid-area: 1/2;
    }

    .background-3 {
        width: 100%;
        height: 100px;
        background-image: url(images/bg-section-top-desktop-2.svg);
        background-repeat: no-repeat;
        background-position: 0% 0%;
        background-size: 100%;
        margin-top: 5em;
    }

    .background-4 {
        width: 100%;
        height: 100px;
        background-image: url(images/bg-section-bottom-desktop-2.svg);
        background-repeat: no-repeat;
        background-position: 0% 0%;
        background-size: 100%;
        margin-bottom: 4em;
    }

    .build-com {
        padding-top: 10em;
    }

    .build-com h3{
        font-size: 2.5em;
    }
    
    .build-com button {
        width: 30%;
        height: 4em;
        border-radius: 30px;
        font-size: 1em;
    }

    .background-5 {
        width: 100%;
        height: 270px;
        background-image: url(images/bg-footer-top-desktop.svg);
        background-repeat: no-repeat;
        background-position: 0% 0%;
        background-size: 100%;
        margin-bottom: -10em;
    }

    .lp-footer {
        display: grid;
        grid-template-columns: 50% 50%;

    }

    .newsletter {
        grid-area: 1/2;
        padding: 3em 5em;
    }

    .newsletter > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2em;
    }

    .newsletter h3 {
        font-size: 2em;
    }

    .newsletter p {
        padding-right: 15em;
        font-size: 0.8em;
    }

    .newsletter input {
        display: inline-block;
        width: 55%;

    }

    .newsletter > div > button {
        display: inline-block;
        height: 2.6em;
        font-size: 1em;
        width: 45%;
    }

    .main-footer {
        padding: 3em 9em;
    }

    .main-footer h3 {
        font-size: 3.5em;
    }

    .main-footer p {
        font-size: 0.8em;
        padding-right: 7em;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        padding-bottom: 4em;
    }

    .contact-info div {
        margin-bottom: -1em;
    }

    .contact-info > div > p {
        font-size: 0.7em;
    }

    .contact-info > div > img {
        width: 1em;
        height: 1em;
    }

    .media > a > svg {
        height: 2em;
        width: 2em;
    }

    .attribution {
        margin: -3em 0em;
    }
}
